/*================== Dashboard =============== */

.container_hearder_dashboard {
    border-bottom: blueviolet dotted 1px;
    width: auto;
    max-width: 100%;
    margin-bottom: 40px;
}

.dashboard_card {
    margin: 15px 0 30px 0;
    max-width: 100%;
    max-height: 100%;
    width: 300px;
    border: rgba(138, 43, 226, 0.2) dotted 2px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    align-items: center;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.5rem;
}


.borderBottom-customized {
    border-bottom: blueviolet dotted 1px;
}

.goal-text {
    font-size: small;
    color: slategrey;
    text-align: left;
    padding-bottom: 5px;
}

.goal-number {
    font-size: x-large;
    color: green;
    font-weight: 400;
    text-align: center;
    align-content: baseline;
}

.goal-measure-unit {
    font-size: small;
    color: slategrey;
    font-weight: 500;
    text-align: left;
}

.achieved-text {
    font-size: small;
    color: blueviolet;
    text-align: right;
    line-height: 20px;
}

.achieved-number-green {
    font-size: 50px;
    color: green;
    text-align: left;
}

.achieved-number-red {
    font-size: 50px;
    color: darkred;
    text-align: left;
}

.add-info {
    font-size: xx-small;
    color: slategrey;
}

.text-qtd {
    font-size: small;
    color: slategrey;

}

.achieved-pressure-text {
    font-size: x-small;
    color: slategrey;
    text-align: right;
    line-height: 14px;

}

.achieved-pressure-number {
    font-size: x-large;
    color: green;
    text-align: left;
}


.weight-text {
    font-size: xx-small;
    color: slategrey;
    text-align: right;
    line-height: 10px;
    margin-left: 15px;
    margin-top: 20px;

}

.weight-number {
    font-size: large;
    color: green;
    text-align: left;
    margin-top: 20px;
}

.fas.md48 {
    font-size: 48px;
}

.fas.md38 {
    font-size: 38px;
}

.fas.md20 {
    font-size: 20px;
}

.icon_gray {
    color: gray;
}